*{
    margin: 0;
    box-sizing: border-box;
    font-family: poppins ;
}

.container {
    display: grid;
    background-image: url(../Assets/Images/backgroundvector.png) ;
    padding-top: 20px;
    background-repeat: no-repeat; 
    background-size: 2000px 750px;
    height: 100vh;
    padding: 50px 75px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color:white;
}

.navigationbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    gap: 100px;
    font-size: 20px;
}

.linkactive {
    text-decoration-line: underline;
    text-decoration-color: aquamarine;
    text-underline-offset: 10px;
}
.herocontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.maintext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
}

.maintext h1{
    font-weight: 700;
    font-size: 60px;
    color: white;
    height: 200px;
}

.maintext p{
    color:white;
}

.vector {
    display: flex;
    align-items: center;
    gap: 50px;
}

.monica {
    display: grid;
    padding-right: 100px;
    height: 20vh;
}

.monicashadow {
    padding-left: 65px;
    margin-top: -35px;
}


.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bottomcontent {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomcontent h2 {
    font-weight: 500;
    font-size: 30px;
}

.bottomcontent p{
    color: #696969;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    color: white;
    gap: 40px;
    align-items: flex-end;
}

.buttons .signup, .signin {
    width: 150px;
    height: 60px;
    background-color: #3F8290;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

 .buttons .signup {
    background-color: #3F8290;
}

.buttons .signin{
    background-color: #54CAE2;
} 

.buttons .signup, .signin {
    color: white;
    font-size: 20px;
    text-decoration: none;
}


.home-form{
    display: grid;
    place-items: center;
    padding: 50px
}

.form-field{
    padding: 10px;
    display: grid;
    width: 100%;
    max-width: 300px;
}

.error-field{
    color: red;
    font-size: 14px;
}


