

table{
   width: 100%;
}

th,td{
    padding: 10px;
    /* border-bottom: 1px solid black; */
    border-block-end: black;
    /* border-right: 1px solid black; */
   
    
}

#image { 
    display: inline-block; 
    overflow: hidden; 
} 

#image img { 
    height:auto;
    max-width: 80%;
    border-radius: 50%;
    
}

thead  {
    background: #9592A6; 
    color: white; 
}

table{
    box-shadow: 0px -1px 33px -8px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 10px;
    text-align: center;
}
