.header
{
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 23px;
    color: #8695A0;  
    align-items: center;  
}

.topContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
/* margin:2px; */


}
.itemContainer1,.itemContainer2,.itemContainer3,.itemContainer4{
    height: 130px;
    width: 211.27px;
    top: 188px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    } 


.title1,.title2,.title3,.title4{
    height: 47px;
    width: 211.27120971679688px;
    top: 188px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    text-align: center;
    padding-left: 35px;
    
   
    
}
.title1{
    background-color:#CD66CF ;
}

.title2{
    background-color: #6E66CF;
    ;
}

.title3{
    background-color:#CFAB66 ;
}

.title4{
    background-color:#66CF96 ;
}
.Container{
    /* margin: 0.7em; */
    padding: 1.7em;
    background-color: #f0e9e9ec;
    height:100vh;
    
}

.bottom{
    display: flex;
}

.value{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 30px;
    color: #9592A6;
}

.topContainer p{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;  
}

.Left-container{
    
    display: flex;
    justify-content: flex-start;

}

.progress-div{
    background: #9592A6;
    border-radius: 10px;
    width: 50%;
    height: 10px;
}

.progress {
    background: #66CF96;
    border-radius: 10px 0px 0px 10px;
    height: 10px;
    width: 30px;


}

@media screen and (max-width:992px){
    .topContainer{
    flex-direction: column;
    width: 100%;
    padding: 50px;
    margin-left: 40px;
    }
    .itemContainer1,.itemContainer2,.itemContainer3,.itemContainer4{
        margin: .7rem;
        
    }
  
}
@media screen and (max-width:1110px){
.bottom{
    flex-direction: column;
  }
}